	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="description" content="Just one page">
	<meta name="author" content="Wayne Cheng, Kevin Huang">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- If IE use the latest rendering engine -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Google Font Links -->
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
	<!-- Custom Stylesheets -->
	<link rel="stylesheet" href="css/style.css">
