@import '_importAll';
 
html {
	// font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-family: $sans-serif;
	font-size: 16px;
}


header {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.nav {
		position: absolute;
		bottom: 2rem;
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-width: 400px;
		li {
			display: inline-block;
			margin: 0 1rem;
			a {
				color: #fff;
				font-size: 1.5rem;
				font-weight: 300;
			}
		}
	}
}


.stage {
	outline: 1px solid yellow;
	font-size: 5rem;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	.stage-group,
	.stage-piece {
		// display: inline-block;
		margin: 0;
		padding: 0;
	}
	.stage-group {
		display: flex;
		flex-direction: row;
	}

	.inactive {
		display: none;
		visibility: hidden;
	}


	&[data-on-stage="fullname"] {
		#at { 
			visibility: hidden;
			width: .4em;
		}
		#dt { display: none }
	}
	// &[data-on-stage="website"] {
	// 	// #at { 
	// 	// 	visibility: hidden;
	// 	// 	width: .4em;
	// 	// }
	// 	#1a,#1b,#at { display: none }
	// }
	&[data-on-stage="social"] {
		// #flip-at.stage-group {
		// 	flex-direction: row-reverse;
		// }
		#1a {
			&::before {
				content: '@'
			}
		}
	}
}