

$lame-border-width: 3px;
$lame-border-color: #242424;
$lame-fill: #ccc;
$lame-w: 200px;
$lame-h: 400px;

.lame-comparision {
	width: $lame-w;
	height: $lame-h;
	border: $lame-border-width solid $lame-border-color;
	background-color: transparent;
	border-radius: 12px;
	// &.filled {
	// 	border: none;
	// 	background-color: $lame-fill;
	// }
}
.ws-lame-curve{
	width: $lame-w;
	height: $lame-h;
	// border: $lame-border-width solid #eee;
	position: relative;
		fill: transparent;
		stroke-width: $lame-border-width;
		stroke: $lame-border-color; 

	// &.filled {
	// 	fill: $lame-fill;
	// 	stroke: none;
	// }
		
	&:not(:root){
		overflow: visible; /* IMPORTANT: must overflow or else it looks like poop */
	}
	
	g {
		fill: inherit;
		stroke-width: inherit;
		overflow: visible;
	}
			.corner,.edge {
				fill: inherit;
				stroke-width: inherit;
				overflow: visible;
			}
}
.lame-curve {
	$border-width: 2px;
	width: 400px;
	height: 400px;
	border: $border-width solid red;
	position: relative;
	.lame-corner-svg {
		width: 20%;
		height: initial;
		position: absolute;
		overflow: visible;
		.lame-corner {
			stroke: #000;
			stroke-width: $border-width;
		}
	}


	.pos {
		&-t { top: 0 }
		&-r { right: 0 }
		&-l { left: 0 }
		&-b { bottom: 0 }
	}
	.pos-t.pos-r { transform: rotateZ(0deg) }
	.pos-t.pos-l { transform: rotateZ(270deg) }
	.pos-b.pos-r { transform: rotateZ(90deg) }
	.pos-b.pos-l { transform: rotateZ(180deg) }
}
#lame-curve-root {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	flex-wrap: wrap;
	& > * {
		// display: inline-block;
		margin: 10px;
	}
}

.lame-filled {
	.lame-comparision {
		background-color: $lame-fill;
		border: none;
	}
	.ws-lame-curve {
		fill: $lame-fill;
		stroke: none;
	}
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	& > * {
		margin: 10px;
	}
}