@import 'config/_config';

#landing-root {
	.full-screen-wrap {
		height: 100vh;
		width: 100%;
		margin: 0;
		padding: 2rem;
		padding-top: 4rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@extend %grad-white-cloud;

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin: 0;
			padding: 0;
		}
		.headline {
			margin-bottom: 2rem;
			font-size: 4rem;
			font-weight: 500;
			letter-spacing: -1.5px;
			width: 200px;
			text-align: left;
			margin: 2rem 0;
		}

		.page-link-nav {
			// outline: 1px solid green;
			padding: 0;
			width: 100%;
			margin: 0;
			// display: flex;
			// align-items: center;
			// flex-wrap: wrap;

			.page-link {
				padding: 1rem;
				font-size: 1.5rem;
				line-height: 2;
				text-align: center;
				a {
					// outline: 1px solid red;
					display: inline-block;
					width: 100%;
					height: 100%;
					$c: $link;
					color: $c;
					&:hover {
						color: darken($c,5);
						// text-decoration: underline;
					}
				}
			}
		}
	
		// &.dark-theme {
		// 	background-color: #242424;
		// 	color: #fff;
		// }	

		&.bladerunner {
			.page-link-nav {
				max-width: 240px;
			}
			.headline {
				font-size: 1.6rem;
				text-transform: uppercase;
				letter-spacing: .2em;
				font-weight: 300;
				word-spacing: .2em;
				width: initial;
				line-height: 1.5;
				padding: 1rem;
				margin: 0;
			}
			.page-link {
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: .2em;
				word-spacing: .2em;
				text-align: left;
			}
		}
	}
} 