
.globalnav {
	// background-color: #242424;
	a {
		color: #242424 !important;
	}
}

.full-screen-wrap {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding-top: 5rem;
	.headline {
		margin-bottom: 2rem;
		font-size: 4rem;
		font-weight: 500;
		letter-spacing: -1.5px;
		width: 200px;
		text-align: center;
	}

	.page-link-nav {
		// outline: 1px solid green;
		padding: 0;
		width: 100%;
		margin: 0;
		.page-link {
			padding: 1rem;
			font-size: 1.5rem;
			line-height: 3;
			a {
				// outline: 1px solid red;
				display: inline-block;
				width: 100%;
				height: 100%;
			}
		}
	}

	// &.dark-theme {
	// 	background-color: #242424;
	// 	color: #fff;

	// }	
}