@import '_importAll';
  
html {
	// font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-family: $sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	justify-content: stretch;
	align-items: center; 
	margin: 0;
	min-height: 100vh;
	width: 100%;
	background-color: #fff;
}

main {
	padding: 0;
	width: 100%;
	overflow: hidden;
}
h1 {
	margin: 0;
	font-weight: 700;
	text-align: center;
	font-size: 2rem;
}
a {
	color: $link;
	text-decoration: none;
}

.link-list {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 80%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		max-width: 500px;
		margin: auto;
		li {
			a {
				display: inline-block;
				padding: 0.75rem;
				height: 1rem;
				width: 1rem;
				opacity: 0.7;
				transition: 500ms;
				// border-radius: 50%;
				// border: 2px solid transparent;
				&:hover {
					opacity: 0.9;
					// border-color: #000;
				}
				img {
					display: inline-block;
					height: inherit;
					width: initial;
				}
			}
		}
	}
}
  
.position-reset {
	position: relative; 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


.carousel.carousel-slider {
	height: inherit;
	 
	.carousel-item {
		padding: 2rem;

		.carousel-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: inherit;
		} 
	}

	.indicators {
		.indicator-item {
			background-color: rgba(0,0,0,0.24);
			$indicator-size: 0.75rem;
			height: $indicator-size;
			width: $indicator-size;
			&.active {
				background-color: rgba(0,0,0,0.81);
			} 
		}
	}
} 
      
.carousel-control-wrap {
	font-size: 3rem;
	$controlDimension: 48px;
	bottom: 2rem;
	top: 50%;
	width: 100%;
	height: $controlDimension;
	transform: translate(0, -50%); 
	position: absolute;
	display: flex;
	justify-content: space-between;

	.carousel-control {
		font-size: $controlDimension;	
		background-color: transparent;
		box-shadow: none;
		color: #000;
		opacity: 0.5; 
		padding: 0;
		line-height: $controlDimension;
		height: $controlDimension;
		width: $controlDimension;
		// border-radius: 10%;
		&:hover, &:active {
			// color: (0,0,0,0.87);
			opacity: 0.87; 
		}
		i {
			font-size: inherit;
		}
	}  
}

.no-padding {
	padding: 0;
}

     