
// $color1: hsl(220, 14%, 71%);
// $color2: hsl(220, 9%, 55%);
// $color3: hsl(220, 10%, 40%);
// $colorbg: hsl(220, 13%, 18%);
$atom-bg: #303340;
$atom-bg-highlighted: #363a4f;
$atom-text: #cdd1e7;
$atom-yellow: #e5d58e;
$atom-yellow2: #e7d68f;
$atom-green: #9fec9b;
// $atom-orange: #ec7f75;
// $atom-purple: #d996ee;
$atom-punc: #d9def3;
$atom-punc: #9298bd;
$atom-cursor: #8091f5;

$atom-cyan: hsl(187, 47%, 55%);
// #4A848C
// 74,132,140
$atom-blue: hsl(207, 82%, 66%);
// #1E6AA8
// 30,106,168
$atom-purple: hsl(286, 60%, 67%);
// #9244AA
// 146,68,170
$atom-green: hsl(95, 38%, 62%);
// #7B9E62
// 123,158,98
$atom-red:  hsl(355, 65%, 65%);
$atom-red2:  hsl(5, 48%, 51%);
$atom-orange: hsl(29, 54%, 61%);
$atom-orange2: hsl(39, 67%, 69%);
$atom-mono-1: hsl(220, 14%, 71%); // default text
$atom-mono-2: hsl(220,  9%, 55%);
$atom-mono-3: hsl(220, 10%, 40%);
$atom-fg: $atom-mono-1;
$atom-bg: hsl(220, 13%, 18%);

$atom-bg2: #303340;