@import '_atom-onedark';
@import '_flat-ui-colors';

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
body {
	margin: 0;
	overflow: hidden;
}
h1 {
	font-size: 1rem;
	font-weight: 700;
	margin: 0;
}
main {
	padding: .5rem;
}
#doc {
	padding: 2rem;
	outline: none;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	max-width: 700px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	// .input-field {
	// 	margin: 0;
	// 	textarea#content {
	// 		min-height: 80vh;
	// 		// overflow: hidden;
	// 		overflow: auto;
	// 		padding: 0;
	// 		border: none;
	// 		outline: none;
	// 		box-shadow: none;
	// 	}
	// }

	background-color: $atom-bg;
	color: $atom-mono-1;

	.doc-row {
		padding: 0;
		// padding-right: 1rem;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		
		&.alternate {
			background-color: $atom-bg-highlighted
		}
		
		.gutter {
			display: none;
			visibility: hidden;
			// background-color: lighten($atom-bg,8);
			background-color: transparent;
			// position: absolute;
			// top: 0;
			// left: 0;
			flex-basis: 1rem;
			color: $atom-mono-1;
			padding: 8px;
			text-align: right;
		}
		
		.content-group {
			flex: 1;
			// padding: 8px;
		}
	}
}

