@import '_atom-onedark';
@import '_flat-ui-colors';

html {
	font-size: 16px;
	font-family: 'Cutive Mono', monospace;
}
body {
	margin: 0;
	overflow: hidden;
}
h1 {
	font-size: 1rem;
	font-weight: 700;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
main {
	padding: .5rem;
}
article {
	padding: 1rem 0;
	outline: none;
	border: none;
	box-shadow: none;

	// .input-field {
	// 	margin: 0;
	// 	textarea#content {
	// 		min-height: 80vh;
	// 		// overflow: hidden;
	// 		overflow: auto;
	// 		padding: 0;
	// 		border: none;
	// 		outline: none;
	// 		box-shadow: none;
	// 	}
	// }
}