/*===== Font Weights =====*/
/*===== Font Stack =====*/
/*===== Font Sizes =====*/
/*===== Heights. Widths =====*/
/*===== Breakpoints =====*/
/* 
		a <300
		b 300-450
		c 450-600
		d 600-800
		e 800-1200
		f 1200-1920
		g 1920-3840 
	*/
/*===== Navbar =====*/
/*-------------------------
		All Helpers 
--------------------------*/
/* line 1, /Users/waynecheng/git/justonepage/public/sass/helpers/_reset.scss */
div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*-------------------------
  Layout 
---------------------------*/
/* line 5, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.root-fill-page {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
}

/*===== Bumpers =====*/
/* line 17, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.nav-bumper {
  padding-top: 4rem;
}

/* line 21, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.y-bumpers, .bumpers {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

/* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.x-bumpers, .bumpers {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 36, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.no-bumpers-x {
  padding-left: unset;
  padding-right: unset;
}

/* line 41, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.no-bumpers-y {
  padding-top: unset;
  padding-bottom: unset;
}

/*===== Padding =====*/
/* line 50, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.no-padding-top, .no-padding-y {
  padding-top: 0;
}

/* line 50, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.no-padding-right, .no-padding-x {
  padding-right: 0;
}

/* line 50, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.no-padding-bottom, .no-padding-y {
  padding-bottom: 0;
}

/* line 50, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.no-padding-left, .no-padding-x {
  padding-left: 0;
}

/*===== Heights, Widths =====*/
/* line 67, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.limit-width {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
}

/*===== Bottom Bar =====*/
/* line 76, /Users/waynecheng/git/justonepage/public/sass/helpers/_layout.scss */
.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-primary {
  background-color: #3498db;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-primary .ws-btn:hover, .ws-primary .ws-btn:active, .ws-primary .ws-btn:focus, .ws-primary .btn:hover, .ws-primary .btn:active, .ws-primary .btn:focus {
  background-color: #2b94d9;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-primary.isOutlined {
  background-color: transparent;
  color: #3498db;
  border-color: #3498db;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-primary.isOutlined .ws-btn:hover, .ws-primary.isOutlined .ws-btn:active, .ws-primary.isOutlined .ws-btn:focus, .ws-primary.isOutlined .btn:hover, .ws-primary.isOutlined .btn:active, .ws-primary.isOutlined .btn:focus, .ws-primary.isOutlined a:hover, .ws-primary.isOutlined a:active, .ws-primary.isOutlined a:focus {
  background-color: #3498db;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-primary {
  background-color: #3498db;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-primary .ws-btn:hover, .bg-primary .ws-btn:active, .bg-primary .ws-btn:focus, .bg-primary .btn:hover, .bg-primary .btn:active, .bg-primary .btn:focus, .bg-primary a:hover, .bg-primary a:active, .bg-primary a:focus {
  background-color: #2b94d9 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-primary {
  color: #3498db;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-primary .ws-btn:hover, .fg-primary .ws-btn:active, .fg-primary .ws-btn:focus, .fg-primary .btn:hover, .fg-primary .btn:active, .fg-primary .btn:focus, .fg-primary a:hover, .fg-primary a:active, .fg-primary a:focus {
  color: #2b94d9 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-secondary {
  background-color: #1abc9c;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-secondary .ws-btn:hover, .ws-secondary .ws-btn:active, .ws-secondary .ws-btn:focus, .ws-secondary .btn:hover, .ws-secondary .btn:active, .ws-secondary .btn:focus {
  background-color: #19b395;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-secondary.isOutlined {
  background-color: transparent;
  color: #1abc9c;
  border-color: #1abc9c;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-secondary.isOutlined .ws-btn:hover, .ws-secondary.isOutlined .ws-btn:active, .ws-secondary.isOutlined .ws-btn:focus, .ws-secondary.isOutlined .btn:hover, .ws-secondary.isOutlined .btn:active, .ws-secondary.isOutlined .btn:focus, .ws-secondary.isOutlined a:hover, .ws-secondary.isOutlined a:active, .ws-secondary.isOutlined a:focus {
  background-color: #1abc9c;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-secondary {
  background-color: #1abc9c;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-secondary .ws-btn:hover, .bg-secondary .ws-btn:active, .bg-secondary .ws-btn:focus, .bg-secondary .btn:hover, .bg-secondary .btn:active, .bg-secondary .btn:focus, .bg-secondary a:hover, .bg-secondary a:active, .bg-secondary a:focus {
  background-color: #19b395 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-secondary {
  color: #1abc9c;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-secondary .ws-btn:hover, .fg-secondary .ws-btn:active, .fg-secondary .ws-btn:focus, .fg-secondary .btn:hover, .fg-secondary .btn:active, .fg-secondary .btn:focus, .fg-secondary a:hover, .fg-secondary a:active, .fg-secondary a:focus {
  color: #19b395 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-success {
  background-color: #2ecc71;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-success .ws-btn:hover, .ws-success .ws-btn:active, .ws-success .ws-btn:focus, .ws-success .btn:hover, .ws-success .btn:active, .ws-success .btn:focus {
  background-color: #2cc46c;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-success.isOutlined {
  background-color: transparent;
  color: #2ecc71;
  border-color: #2ecc71;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-success.isOutlined .ws-btn:hover, .ws-success.isOutlined .ws-btn:active, .ws-success.isOutlined .ws-btn:focus, .ws-success.isOutlined .btn:hover, .ws-success.isOutlined .btn:active, .ws-success.isOutlined .btn:focus, .ws-success.isOutlined a:hover, .ws-success.isOutlined a:active, .ws-success.isOutlined a:focus {
  background-color: #2ecc71;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-success {
  background-color: #2ecc71;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-success .ws-btn:hover, .bg-success .ws-btn:active, .bg-success .ws-btn:focus, .bg-success .btn:hover, .bg-success .btn:active, .bg-success .btn:focus, .bg-success a:hover, .bg-success a:active, .bg-success a:focus {
  background-color: #2cc46c !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-success {
  color: #2ecc71;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-success .ws-btn:hover, .fg-success .ws-btn:active, .fg-success .ws-btn:focus, .fg-success .btn:hover, .fg-success .btn:active, .fg-success .btn:focus, .fg-success a:hover, .fg-success a:active, .fg-success a:focus {
  color: #2cc46c !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-danger {
  background-color: #e74c3c;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-danger .ws-btn:hover, .ws-danger .ws-btn:active, .ws-danger .ws-btn:focus, .ws-danger .btn:hover, .ws-danger .btn:active, .ws-danger .btn:focus {
  background-color: #e64433;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-danger.isOutlined {
  background-color: transparent;
  color: #e74c3c;
  border-color: #e74c3c;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-danger.isOutlined .ws-btn:hover, .ws-danger.isOutlined .ws-btn:active, .ws-danger.isOutlined .ws-btn:focus, .ws-danger.isOutlined .btn:hover, .ws-danger.isOutlined .btn:active, .ws-danger.isOutlined .btn:focus, .ws-danger.isOutlined a:hover, .ws-danger.isOutlined a:active, .ws-danger.isOutlined a:focus {
  background-color: #e74c3c;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-danger {
  background-color: #e74c3c;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-danger .ws-btn:hover, .bg-danger .ws-btn:active, .bg-danger .ws-btn:focus, .bg-danger .btn:hover, .bg-danger .btn:active, .bg-danger .btn:focus, .bg-danger a:hover, .bg-danger a:active, .bg-danger a:focus {
  background-color: #e64433 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-danger {
  color: #e74c3c;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-danger .ws-btn:hover, .fg-danger .ws-btn:active, .fg-danger .ws-btn:focus, .fg-danger .btn:hover, .fg-danger .btn:active, .fg-danger .btn:focus, .fg-danger a:hover, .fg-danger a:active, .fg-danger a:focus {
  color: #e64433 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-info {
  background-color: #9b59b6;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-info .ws-btn:hover, .ws-info .ws-btn:active, .ws-info .ws-btn:focus, .ws-info .btn:hover, .ws-info .btn:active, .ws-info .btn:focus {
  background-color: #9752b3;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-info.isOutlined {
  background-color: transparent;
  color: #9b59b6;
  border-color: #9b59b6;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-info.isOutlined .ws-btn:hover, .ws-info.isOutlined .ws-btn:active, .ws-info.isOutlined .ws-btn:focus, .ws-info.isOutlined .btn:hover, .ws-info.isOutlined .btn:active, .ws-info.isOutlined .btn:focus, .ws-info.isOutlined a:hover, .ws-info.isOutlined a:active, .ws-info.isOutlined a:focus {
  background-color: #9b59b6;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-info {
  background-color: #9b59b6;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-info .ws-btn:hover, .bg-info .ws-btn:active, .bg-info .ws-btn:focus, .bg-info .btn:hover, .bg-info .btn:active, .bg-info .btn:focus, .bg-info a:hover, .bg-info a:active, .bg-info a:focus {
  background-color: #9752b3 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-info {
  color: #9b59b6;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-info .ws-btn:hover, .fg-info .ws-btn:active, .fg-info .ws-btn:focus, .fg-info .btn:hover, .fg-info .btn:active, .fg-info .btn:focus, .fg-info a:hover, .fg-info a:active, .fg-info a:focus {
  color: #9752b3 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-warning {
  background-color: #f39c12;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-warning .ws-btn:hover, .ws-warning .ws-btn:active, .ws-warning .ws-btn:focus, .ws-warning .btn:hover, .ws-warning .btn:active, .ws-warning .btn:focus {
  background-color: #ef970c;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-warning.isOutlined {
  background-color: transparent;
  color: #f39c12;
  border-color: #f39c12;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-warning.isOutlined .ws-btn:hover, .ws-warning.isOutlined .ws-btn:active, .ws-warning.isOutlined .ws-btn:focus, .ws-warning.isOutlined .btn:hover, .ws-warning.isOutlined .btn:active, .ws-warning.isOutlined .btn:focus, .ws-warning.isOutlined a:hover, .ws-warning.isOutlined a:active, .ws-warning.isOutlined a:focus {
  background-color: #f39c12;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-warning {
  background-color: #f39c12;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-warning .ws-btn:hover, .bg-warning .ws-btn:active, .bg-warning .ws-btn:focus, .bg-warning .btn:hover, .bg-warning .btn:active, .bg-warning .btn:focus, .bg-warning a:hover, .bg-warning a:active, .bg-warning a:focus {
  background-color: #ef970c !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-warning {
  color: #f39c12;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-warning .ws-btn:hover, .fg-warning .ws-btn:active, .fg-warning .ws-btn:focus, .fg-warning .btn:hover, .fg-warning .btn:active, .fg-warning .btn:focus, .fg-warning a:hover, .fg-warning a:active, .fg-warning a:focus {
  color: #ef970c !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-disabled {
  background-color: #95a5a6;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-disabled .ws-btn:hover, .ws-disabled .ws-btn:active, .ws-disabled .ws-btn:focus, .ws-disabled .btn:hover, .ws-disabled .btn:active, .ws-disabled .btn:focus {
  background-color: #8fa0a1;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-disabled.isOutlined {
  background-color: transparent;
  color: #95a5a6;
  border-color: #95a5a6;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-disabled.isOutlined .ws-btn:hover, .ws-disabled.isOutlined .ws-btn:active, .ws-disabled.isOutlined .ws-btn:focus, .ws-disabled.isOutlined .btn:hover, .ws-disabled.isOutlined .btn:active, .ws-disabled.isOutlined .btn:focus, .ws-disabled.isOutlined a:hover, .ws-disabled.isOutlined a:active, .ws-disabled.isOutlined a:focus {
  background-color: #95a5a6;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-disabled {
  background-color: #95a5a6;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-disabled .ws-btn:hover, .bg-disabled .ws-btn:active, .bg-disabled .ws-btn:focus, .bg-disabled .btn:hover, .bg-disabled .btn:active, .bg-disabled .btn:focus, .bg-disabled a:hover, .bg-disabled a:active, .bg-disabled a:focus {
  background-color: #8fa0a1 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-disabled {
  color: #95a5a6;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-disabled .ws-btn:hover, .fg-disabled .ws-btn:active, .fg-disabled .ws-btn:focus, .fg-disabled .btn:hover, .fg-disabled .btn:active, .fg-disabled .btn:focus, .fg-disabled a:hover, .fg-disabled a:active, .fg-disabled a:focus {
  color: #8fa0a1 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-black {
  background-color: #000000;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-black .ws-btn:hover, .ws-black .ws-btn:active, .ws-black .ws-btn:focus, .ws-black .btn:hover, .ws-black .btn:active, .ws-black .btn:focus {
  background-color: #0d0d0d;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-black.isOutlined {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-black.isOutlined .ws-btn:hover, .ws-black.isOutlined .ws-btn:active, .ws-black.isOutlined .ws-btn:focus, .ws-black.isOutlined .btn:hover, .ws-black.isOutlined .btn:active, .ws-black.isOutlined .btn:focus, .ws-black.isOutlined a:hover, .ws-black.isOutlined a:active, .ws-black.isOutlined a:focus {
  background-color: #000000;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-black {
  background-color: #000000;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-black .ws-btn:hover, .bg-black .ws-btn:active, .bg-black .ws-btn:focus, .bg-black .btn:hover, .bg-black .btn:active, .bg-black .btn:focus, .bg-black a:hover, .bg-black a:active, .bg-black a:focus {
  background-color: #0d0d0d !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-black {
  color: #000000;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-black .ws-btn:hover, .fg-black .ws-btn:active, .fg-black .ws-btn:focus, .fg-black .btn:hover, .fg-black .btn:active, .fg-black .btn:focus, .fg-black a:hover, .fg-black a:active, .fg-black a:focus {
  color: #0d0d0d !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark {
  background-color: #343434;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark .ws-btn:hover, .ws-dark .ws-btn:active, .ws-dark .ws-btn:focus, .ws-dark .btn:hover, .ws-dark .btn:active, .ws-dark .btn:focus {
  background-color: #2f2f2f;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark.isOutlined {
  background-color: transparent;
  color: #343434;
  border-color: #343434;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark.isOutlined .ws-btn:hover, .ws-dark.isOutlined .ws-btn:active, .ws-dark.isOutlined .ws-btn:focus, .ws-dark.isOutlined .btn:hover, .ws-dark.isOutlined .btn:active, .ws-dark.isOutlined .btn:focus, .ws-dark.isOutlined a:hover, .ws-dark.isOutlined a:active, .ws-dark.isOutlined a:focus {
  background-color: #343434;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-dark {
  background-color: #343434;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-dark .ws-btn:hover, .bg-dark .ws-btn:active, .bg-dark .ws-btn:focus, .bg-dark .btn:hover, .bg-dark .btn:active, .bg-dark .btn:focus, .bg-dark a:hover, .bg-dark a:active, .bg-dark a:focus {
  background-color: #2f2f2f !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-dark {
  color: #343434;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-dark .ws-btn:hover, .fg-dark .ws-btn:active, .fg-dark .ws-btn:focus, .fg-dark .btn:hover, .fg-dark .btn:active, .fg-dark .btn:focus, .fg-dark a:hover, .fg-dark a:active, .fg-dark a:focus {
  color: #2f2f2f !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-light {
  background-color: #ecf0f1;
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-light .ws-btn:hover, .ws-light .ws-btn:active, .ws-light .ws-btn:focus, .ws-light .btn:hover, .ws-light .btn:active, .ws-light .btn:focus {
  background-color: #e6ebed;
  color: rgba(0, 0, 0, 0.87);
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-light.isOutlined {
  background-color: transparent;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-light.isOutlined .ws-btn:hover, .ws-light.isOutlined .ws-btn:active, .ws-light.isOutlined .ws-btn:focus, .ws-light.isOutlined .btn:hover, .ws-light.isOutlined .btn:active, .ws-light.isOutlined .btn:focus, .ws-light.isOutlined a:hover, .ws-light.isOutlined a:active, .ws-light.isOutlined a:focus {
  background-color: #ecf0f1;
  color: rgba(0, 0, 0, 0.87);
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-light {
  background-color: #ecf0f1;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-light .ws-btn:hover, .bg-light .ws-btn:active, .bg-light .ws-btn:focus, .bg-light .btn:hover, .bg-light .btn:active, .bg-light .btn:focus, .bg-light a:hover, .bg-light a:active, .bg-light a:focus {
  background-color: #e6ebed !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-light {
  color: #ecf0f1;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-light .ws-btn:hover, .fg-light .ws-btn:active, .fg-light .ws-btn:focus, .fg-light .btn:hover, .fg-light .btn:active, .fg-light .btn:focus, .fg-light a:hover, .fg-light a:active, .fg-light a:focus {
  color: #e6ebed !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-white {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-white .ws-btn:hover, .ws-white .ws-btn:active, .ws-white .ws-btn:focus, .ws-white .btn:hover, .ws-white .btn:active, .ws-white .btn:focus {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-white.isOutlined {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-white.isOutlined .ws-btn:hover, .ws-white.isOutlined .ws-btn:active, .ws-white.isOutlined .ws-btn:focus, .ws-white.isOutlined .btn:hover, .ws-white.isOutlined .btn:active, .ws-white.isOutlined .btn:focus, .ws-white.isOutlined a:hover, .ws-white.isOutlined a:active, .ws-white.isOutlined a:focus {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-white .ws-btn:hover, .bg-white .ws-btn:active, .bg-white .ws-btn:focus, .bg-white .btn:hover, .bg-white .btn:active, .bg-white .btn:focus, .bg-white a:hover, .bg-white a:active, .bg-white a:focus {
  background-color: #fafafa !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-white {
  color: #ffffff;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-white .ws-btn:hover, .fg-white .ws-btn:active, .fg-white .ws-btn:focus, .fg-white .btn:hover, .fg-white .btn:active, .fg-white .btn:focus, .fg-white a:hover, .fg-white a:active, .fg-white a:focus {
  color: #fafafa !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-transparent {
  background-color: transparent;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-transparent .ws-btn:hover, .ws-transparent .ws-btn:active, .ws-transparent .ws-btn:focus, .ws-transparent .btn:hover, .ws-transparent .btn:active, .ws-transparent .btn:focus {
  background-color: rgba(13, 13, 13, 0);
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-transparent.isOutlined {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-transparent.isOutlined .ws-btn:hover, .ws-transparent.isOutlined .ws-btn:active, .ws-transparent.isOutlined .ws-btn:focus, .ws-transparent.isOutlined .btn:hover, .ws-transparent.isOutlined .btn:active, .ws-transparent.isOutlined .btn:focus, .ws-transparent.isOutlined a:hover, .ws-transparent.isOutlined a:active, .ws-transparent.isOutlined a:focus {
  background-color: transparent;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-transparent {
  background-color: transparent;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-transparent .ws-btn:hover, .bg-transparent .ws-btn:active, .bg-transparent .ws-btn:focus, .bg-transparent .btn:hover, .bg-transparent .btn:active, .bg-transparent .btn:focus, .bg-transparent a:hover, .bg-transparent a:active, .bg-transparent a:focus {
  background-color: rgba(13, 13, 13, 0) !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-transparent {
  color: transparent;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-transparent .ws-btn:hover, .fg-transparent .ws-btn:active, .fg-transparent .ws-btn:focus, .fg-transparent .btn:hover, .fg-transparent .btn:active, .fg-transparent .btn:focus, .fg-transparent a:hover, .fg-transparent a:active, .fg-transparent a:focus {
  color: rgba(13, 13, 13, 0) !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-red {
  background-color: #e74c3c;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-red .ws-btn:hover, .ws-red .ws-btn:active, .ws-red .ws-btn:focus, .ws-red .btn:hover, .ws-red .btn:active, .ws-red .btn:focus {
  background-color: #e64433;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-red.isOutlined {
  background-color: transparent;
  color: #e74c3c;
  border-color: #e74c3c;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-red.isOutlined .ws-btn:hover, .ws-red.isOutlined .ws-btn:active, .ws-red.isOutlined .ws-btn:focus, .ws-red.isOutlined .btn:hover, .ws-red.isOutlined .btn:active, .ws-red.isOutlined .btn:focus, .ws-red.isOutlined a:hover, .ws-red.isOutlined a:active, .ws-red.isOutlined a:focus {
  background-color: #e74c3c;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-red {
  background-color: #e74c3c;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-red .ws-btn:hover, .bg-red .ws-btn:active, .bg-red .ws-btn:focus, .bg-red .btn:hover, .bg-red .btn:active, .bg-red .btn:focus, .bg-red a:hover, .bg-red a:active, .bg-red a:focus {
  background-color: #e64433 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-red {
  color: #e74c3c;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-red .ws-btn:hover, .fg-red .ws-btn:active, .fg-red .ws-btn:focus, .fg-red .btn:hover, .fg-red .btn:active, .fg-red .btn:focus, .fg-red a:hover, .fg-red a:active, .fg-red a:focus {
  color: #e64433 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-orange {
  background-color: #f39c12;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-orange .ws-btn:hover, .ws-orange .ws-btn:active, .ws-orange .ws-btn:focus, .ws-orange .btn:hover, .ws-orange .btn:active, .ws-orange .btn:focus {
  background-color: #ef970c;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-orange.isOutlined {
  background-color: transparent;
  color: #f39c12;
  border-color: #f39c12;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-orange.isOutlined .ws-btn:hover, .ws-orange.isOutlined .ws-btn:active, .ws-orange.isOutlined .ws-btn:focus, .ws-orange.isOutlined .btn:hover, .ws-orange.isOutlined .btn:active, .ws-orange.isOutlined .btn:focus, .ws-orange.isOutlined a:hover, .ws-orange.isOutlined a:active, .ws-orange.isOutlined a:focus {
  background-color: #f39c12;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-orange {
  background-color: #f39c12;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-orange .ws-btn:hover, .bg-orange .ws-btn:active, .bg-orange .ws-btn:focus, .bg-orange .btn:hover, .bg-orange .btn:active, .bg-orange .btn:focus, .bg-orange a:hover, .bg-orange a:active, .bg-orange a:focus {
  background-color: #ef970c !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-orange {
  color: #f39c12;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-orange .ws-btn:hover, .fg-orange .ws-btn:active, .fg-orange .ws-btn:focus, .fg-orange .btn:hover, .fg-orange .btn:active, .fg-orange .btn:focus, .fg-orange a:hover, .fg-orange a:active, .fg-orange a:focus {
  color: #ef970c !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-yellow {
  background-color: #f1c40f;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-yellow .ws-btn:hover, .ws-yellow .ws-btn:active, .ws-yellow .ws-btn:focus, .ws-yellow .btn:hover, .ws-yellow .btn:active, .ws-yellow .btn:focus {
  background-color: #e8bd0e;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-yellow.isOutlined {
  background-color: transparent;
  color: #f1c40f;
  border-color: #f1c40f;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-yellow.isOutlined .ws-btn:hover, .ws-yellow.isOutlined .ws-btn:active, .ws-yellow.isOutlined .ws-btn:focus, .ws-yellow.isOutlined .btn:hover, .ws-yellow.isOutlined .btn:active, .ws-yellow.isOutlined .btn:focus, .ws-yellow.isOutlined a:hover, .ws-yellow.isOutlined a:active, .ws-yellow.isOutlined a:focus {
  background-color: #f1c40f;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-yellow {
  background-color: #f1c40f;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-yellow .ws-btn:hover, .bg-yellow .ws-btn:active, .bg-yellow .ws-btn:focus, .bg-yellow .btn:hover, .bg-yellow .btn:active, .bg-yellow .btn:focus, .bg-yellow a:hover, .bg-yellow a:active, .bg-yellow a:focus {
  background-color: #e8bd0e !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-yellow {
  color: #f1c40f;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-yellow .ws-btn:hover, .fg-yellow .ws-btn:active, .fg-yellow .ws-btn:focus, .fg-yellow .btn:hover, .fg-yellow .btn:active, .fg-yellow .btn:focus, .fg-yellow a:hover, .fg-yellow a:active, .fg-yellow a:focus {
  color: #e8bd0e !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-green {
  background-color: #2ecc71;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-green .ws-btn:hover, .ws-green .ws-btn:active, .ws-green .ws-btn:focus, .ws-green .btn:hover, .ws-green .btn:active, .ws-green .btn:focus {
  background-color: #2cc46c;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-green.isOutlined {
  background-color: transparent;
  color: #2ecc71;
  border-color: #2ecc71;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-green.isOutlined .ws-btn:hover, .ws-green.isOutlined .ws-btn:active, .ws-green.isOutlined .ws-btn:focus, .ws-green.isOutlined .btn:hover, .ws-green.isOutlined .btn:active, .ws-green.isOutlined .btn:focus, .ws-green.isOutlined a:hover, .ws-green.isOutlined a:active, .ws-green.isOutlined a:focus {
  background-color: #2ecc71;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-green {
  background-color: #2ecc71;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-green .ws-btn:hover, .bg-green .ws-btn:active, .bg-green .ws-btn:focus, .bg-green .btn:hover, .bg-green .btn:active, .bg-green .btn:focus, .bg-green a:hover, .bg-green a:active, .bg-green a:focus {
  background-color: #2cc46c !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-green {
  color: #2ecc71;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-green .ws-btn:hover, .fg-green .ws-btn:active, .fg-green .ws-btn:focus, .fg-green .btn:hover, .fg-green .btn:active, .fg-green .btn:focus, .fg-green a:hover, .fg-green a:active, .fg-green a:focus {
  color: #2cc46c !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-blue {
  background-color: #3498db;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-blue .ws-btn:hover, .ws-blue .ws-btn:active, .ws-blue .ws-btn:focus, .ws-blue .btn:hover, .ws-blue .btn:active, .ws-blue .btn:focus {
  background-color: #2b94d9;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-blue.isOutlined {
  background-color: transparent;
  color: #3498db;
  border-color: #3498db;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-blue.isOutlined .ws-btn:hover, .ws-blue.isOutlined .ws-btn:active, .ws-blue.isOutlined .ws-btn:focus, .ws-blue.isOutlined .btn:hover, .ws-blue.isOutlined .btn:active, .ws-blue.isOutlined .btn:focus, .ws-blue.isOutlined a:hover, .ws-blue.isOutlined a:active, .ws-blue.isOutlined a:focus {
  background-color: #3498db;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-blue {
  background-color: #3498db;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-blue .ws-btn:hover, .bg-blue .ws-btn:active, .bg-blue .ws-btn:focus, .bg-blue .btn:hover, .bg-blue .btn:active, .bg-blue .btn:focus, .bg-blue a:hover, .bg-blue a:active, .bg-blue a:focus {
  background-color: #2b94d9 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-blue {
  color: #3498db;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-blue .ws-btn:hover, .fg-blue .ws-btn:active, .fg-blue .ws-btn:focus, .fg-blue .btn:hover, .fg-blue .btn:active, .fg-blue .btn:focus, .fg-blue a:hover, .fg-blue a:active, .fg-blue a:focus {
  color: #2b94d9 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-purple {
  background-color: #9b59b6;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-purple .ws-btn:hover, .ws-purple .ws-btn:active, .ws-purple .ws-btn:focus, .ws-purple .btn:hover, .ws-purple .btn:active, .ws-purple .btn:focus {
  background-color: #9752b3;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-purple.isOutlined {
  background-color: transparent;
  color: #9b59b6;
  border-color: #9b59b6;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-purple.isOutlined .ws-btn:hover, .ws-purple.isOutlined .ws-btn:active, .ws-purple.isOutlined .ws-btn:focus, .ws-purple.isOutlined .btn:hover, .ws-purple.isOutlined .btn:active, .ws-purple.isOutlined .btn:focus, .ws-purple.isOutlined a:hover, .ws-purple.isOutlined a:active, .ws-purple.isOutlined a:focus {
  background-color: #9b59b6;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-purple {
  background-color: #9b59b6;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-purple .ws-btn:hover, .bg-purple .ws-btn:active, .bg-purple .ws-btn:focus, .bg-purple .btn:hover, .bg-purple .btn:active, .bg-purple .btn:focus, .bg-purple a:hover, .bg-purple a:active, .bg-purple a:focus {
  background-color: #9752b3 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-purple {
  color: #9b59b6;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-purple .ws-btn:hover, .fg-purple .ws-btn:active, .fg-purple .ws-btn:focus, .fg-purple .btn:hover, .fg-purple .btn:active, .fg-purple .btn:focus, .fg-purple a:hover, .fg-purple a:active, .fg-purple a:focus {
  color: #9752b3 !important;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark-bluegrey {
  background-color: #37474f;
  color: #fff;
  transition: background-color 400ms;
}

/* line 54, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark-bluegrey .ws-btn:hover, .ws-dark-bluegrey .ws-btn:active, .ws-dark-bluegrey .ws-btn:focus, .ws-dark-bluegrey .btn:hover, .ws-dark-bluegrey .btn:active, .ws-dark-bluegrey .btn:focus {
  background-color: #334249;
  color: #fff;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark-bluegrey.isOutlined {
  background-color: transparent;
  color: #37474f;
  border-color: #37474f;
}

/* line 65, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.ws-dark-bluegrey.isOutlined .ws-btn:hover, .ws-dark-bluegrey.isOutlined .ws-btn:active, .ws-dark-bluegrey.isOutlined .ws-btn:focus, .ws-dark-bluegrey.isOutlined .btn:hover, .ws-dark-bluegrey.isOutlined .btn:active, .ws-dark-bluegrey.isOutlined .btn:focus, .ws-dark-bluegrey.isOutlined a:hover, .ws-dark-bluegrey.isOutlined a:active, .ws-dark-bluegrey.isOutlined a:focus {
  background-color: #37474f;
  color: #fff;
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-dark-bluegrey {
  background-color: #37474f;
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.bg-dark-bluegrey .ws-btn:hover, .bg-dark-bluegrey .ws-btn:active, .bg-dark-bluegrey .ws-btn:focus, .bg-dark-bluegrey .btn:hover, .bg-dark-bluegrey .btn:active, .bg-dark-bluegrey .btn:focus, .bg-dark-bluegrey a:hover, .bg-dark-bluegrey a:active, .bg-dark-bluegrey a:focus {
  background-color: #334249 !important;
}

/* line 83, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-dark-bluegrey {
  color: #37474f;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.fg-dark-bluegrey .ws-btn:hover, .fg-dark-bluegrey .ws-btn:active, .fg-dark-bluegrey .ws-btn:focus, .fg-dark-bluegrey .btn:hover, .fg-dark-bluegrey .btn:active, .fg-dark-bluegrey .btn:focus, .fg-dark-bluegrey a:hover, .fg-dark-bluegrey a:active, .fg-dark-bluegrey a:focus {
  color: #334249 !important;
}

/* line 94, /Users/waynecheng/git/justonepage/public/sass/helpers/_color-classes.scss */
.isOutlined {
  border-style: solid;
  border-width: 2px;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f0 {
  flex: 0 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f1 {
  flex: 1 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f2 {
  flex: 2 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f3 {
  flex: 3 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f4 {
  flex: 4 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f5 {
  flex: 5 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f6 {
  flex: 6 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f7 {
  flex: 7 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f8 {
  flex: 8 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f9 {
  flex: 9 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f10 {
  flex: 10 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f11 {
  flex: 11 !important;
}

/* line 6, /Users/waynecheng/git/justonepage/public/sass/helpers/_flex.scss */
.f12 {
  flex: 12 !important;
}

/* line 32, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-0 {
  max-width: 0px;
}

/* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-0 {
  min-width: 0px;
}

@media all and (max-width: 0px) {
  /* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-0 {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 23, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-0-xs, .max-xs-0 {
  max-width: 150px;
}

/* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-0-xs, .min-xs-0 {
  min-width: 150px;
}

@media all and (max-width: 150px) {
  /* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-0-xs, .min-xs-0 {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 32, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-xs {
  max-width: 300px;
}

/* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-xs, .ws-row > * {
  min-width: 300px;
}

@media all and (max-width: 300px) {
  /* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-xs, .ws-row > * {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 23, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-xs-s, .max-s-xs {
  max-width: 400px;
}

/* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-xs-s, .min-s-xs {
  min-width: 400px;
}

@media all and (max-width: 400px) {
  /* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-xs-s, .min-s-xs {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 32, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-s {
  max-width: 500px;
}

/* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-s {
  min-width: 500px;
}

@media all and (max-width: 500px) {
  /* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-s {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 23, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-s-m, .max-m-s {
  max-width: 600px;
}

/* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-s-m, .min-m-s {
  min-width: 600px;
}

@media all and (max-width: 600px) {
  /* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-s-m, .min-m-s {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 32, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-m {
  max-width: 700px;
}

/* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-m {
  min-width: 700px;
}

@media all and (max-width: 700px) {
  /* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-m {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 23, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-m-l, .max-l-m {
  max-width: 950px;
}

/* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-m-l, .min-l-m {
  min-width: 950px;
}

@media all and (max-width: 950px) {
  /* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-m-l, .min-l-m {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 32, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-l {
  max-width: 1200px;
}

/* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-l {
  min-width: 1200px;
}

@media all and (max-width: 1200px) {
  /* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-l {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 23, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-l-xl, .max-xl-l {
  max-width: 1560px;
}

/* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-l-xl, .min-xl-l {
  min-width: 1560px;
}

@media all and (max-width: 1560px) {
  /* line 26, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-l-xl, .min-xl-l {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 32, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.max-xl {
  max-width: 1920px;
}

/* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
.min-xl {
  min-width: 1920px;
}

@media all and (max-width: 1920px) {
  /* line 35, /Users/waynecheng/git/justonepage/public/sass/helpers/_limits.scss */
  .min-xl {
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* line 4, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.position-reset {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 12, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.no-padding {
  padding: 0;
}

/* line 16, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.bump-top {
  margin-top: 1rem;
}

/* line 20, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.expand-and-center {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blank Center */
/* line 29, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* line 36, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.transform-center {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: -2px 0;
}

/* line 45, /Users/waynecheng/git/justonepage/public/sass/helpers/_position.scss */
.transform-center > :first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 1, /Users/waynecheng/git/justonepage/public/sass/helpers/_size.scss */
.ws-mini {
  font-size: 0.875rem;
  padding: .8em 1em;
}

/* line 5, /Users/waynecheng/git/justonepage/public/sass/helpers/_visibility.scss */
.visually-hidden, .for-aria {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* line 9, /Users/waynecheng/git/justonepage/public/sass/grid.scss */
.ws-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 .5rem;
  width: 100%;
}

/* line 22, /Users/waynecheng/git/justonepage/public/sass/grid.scss */
.ws-row > * {
  flex: 1;
  margin: .5rem;
}

/*# sourceMappingURL=../css/grid.map */