/* line 9, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-comparision {
  width: 200px;
  height: 400px;
  border: 3px solid #242424;
  background-color: transparent;
  border-radius: 12px;
}

/* line 20, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.ws-lame-curve {
  width: 200px;
  height: 400px;
  position: relative;
  fill: transparent;
  stroke-width: 3px;
  stroke: #242424;
}

/* line 34, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.ws-lame-curve:not(:root) {
  overflow: visible;
  /* IMPORTANT: must overflow or else it looks like poop */
}

/* line 38, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.ws-lame-curve g {
  fill: inherit;
  stroke-width: inherit;
  overflow: visible;
}

/* line 43, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.ws-lame-curve .corner, .ws-lame-curve .edge {
  fill: inherit;
  stroke-width: inherit;
  overflow: visible;
}

/* line 49, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve {
  width: 400px;
  height: 400px;
  border: 2px solid red;
  position: relative;
}

/* line 55, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .lame-corner-svg {
  width: 20%;
  height: initial;
  position: absolute;
  overflow: visible;
}

/* line 60, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .lame-corner-svg .lame-corner {
  stroke: #000;
  stroke-width: 2px;
}

/* line 68, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-t {
  top: 0;
}

/* line 69, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-r {
  right: 0;
}

/* line 70, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-l {
  left: 0;
}

/* line 71, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-b {
  bottom: 0;
}

/* line 73, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-t.pos-r {
  transform: rotateZ(0deg);
}

/* line 74, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-t.pos-l {
  transform: rotateZ(270deg);
}

/* line 75, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-b.pos-r {
  transform: rotateZ(90deg);
}

/* line 76, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-curve .pos-b.pos-l {
  transform: rotateZ(180deg);
}

/* line 78, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
#lame-curve-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}

/* line 86, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
#lame-curve-root > * {
  margin: 10px;
}

/* line 92, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-filled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 93, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-filled .lame-comparision {
  background-color: #ccc;
  border: none;
}

/* line 97, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-filled .ws-lame-curve {
  fill: #ccc;
  stroke: none;
}

/* line 105, /Users/waynecheng/git/justonepage/public/sass/lame-curve.scss */
.lame-filled > * {
  margin: 10px;
}

/*# sourceMappingURL=../css/lame-curve.map */