html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

main {
  padding: .5rem;
}

#doc {
  padding: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  max-width: 700px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  background-color: #282c34;
  color: #abb2bf;
}

#doc .doc-row {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#doc .doc-row.alternate {
  background-color: #363a4f;
}

#doc .doc-row .gutter {
  display: none;
  visibility: hidden;
  background-color: transparent;
  flex-basis: 1rem;
  color: #abb2bf;
  padding: 8px;
  text-align: right;
}

#doc .doc-row .content-group {
  flex: 1;
}
