html {
	font-size: 18px;
  font-family: 'Source Code Pro', monospace;
}



form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2rem 0;
}










// #doc {
//   padding: 2rem;
//   outline: none;
//   border: none;
//   border-radius: 5px;
//   box-shadow: none;
//   max-width: 700px;
//   font-family: 'Source Code Pro', monospace;
//   font-weight: 300;
//   background-color: #282c34;
//   color: #abb2bf;
// 	.doc-row {
// 		padding: 0;
// 		position: relative;
// 		display: flex;
// 		flex-direction: row;
// 		align-items: stretch;
// 		&.alternate {
// 			background-color: #363a4f;
// 		}
// 		.gutter {
// 			display: none;
// 			visibility: hidden;
// 			background-color: transparent;
// 			flex-basis: 1rem;
// 			color: #abb2bf;
// 			padding: 8px;
// 			text-align: right;
// 		}
// 		.content-group {
// 			flex: 1;
// 		}
		
// 	}
// }