


		.action-bar {
			// flex-basis: 58px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background-color: rgba(0,0,0,0.3);
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 10%;
			width: 100%;
			height: 60px;
			a {
				margin-right: 0;
				font-size: 0.8em;
				text-transform: uppercase;
			}
			&.white-text a {
				color: #fff !important;
			}
		}