footer {
	display: none;
	// display: flex;
	width: 100%;
	flex-direction: column;
	background-color: #2c3e50;
	color: #fff;
	
	.gf-wrap {
		padding: 0 24px;
		margin: 0;
		display: flex;
		
		flex-direction: row;
		justify-content: center;
		ul {
			li {
				a {
					color: #fff;
				}
			}
		}
		&.subrow {
			background-color: rgba(0,0,0,0.08);
			font-size: $font-XS;
			height: 3em;
			line-height: 3em;
		}
	}
}






// .globalnav {
// 	display: flex;
// 	justify-content: center;
// 	font-size: 1rem;

// 	.wrap, .gn-wrap {
// 		display: flex;
// 		max-width: 1000px;
// 		flex: 1;
// 		padding: 0 24px;
// 		justify-content: space-between;
// 		.title, .gn-title {
// 			font-weight: 600;
// 			text-transform: uppercase;
// 		}
// 		ul {
// 			li {
// 				a {
// 					font-size: 1rem;
// 					font-weight: 300;
// 				}
// 			}
// 		}
// 	}
// }