header.ws-header {
	// display: block;
	width: 100%;
	background-color: #242424;
	color: #fff;
	// background-color: transparent;
	// color: $primary;
	font-size: 2rem;
	padding: 2rem;
	padding-top: 5rem; // extra padding on top for nav
	text-align: center;
	position: relative;
	flex-direction: column;
	min-height: 400px;
	z-index: 7000;
	overflow: hidden;

	.header-content {
		width: 100%;
		// max-width: 400px;
		z-index: 7100;
		position: relative;
	}
	.headline {
		font-size: 2.5em;
		display: inline-block;
	}
	.subheadline {
		font-size: 1.5em;
		display: inline-block;
	}
	.subheadline-copy {
		font-size: 0.8em;
	}

	.ws-backdrop {
		position: absolute;
		z-index: 7001; // 1 more than parent header
	}

	.action-bar {
		z-index: 7900;
	}

	&.compact {
		font-size: 1rem;
		padding-top: 2rem;
		min-height: 500px;
	}

	&.baseline {
		font-size: 1.5rem;
		padding-top: 2rem;
		height: 60vh;
		min-height: 600px;
		.headline {
			font-weight: 700;
		}
	}
}

#vrooms-entity-band {
	height: 80%;
	-webkit-animation: rotation ease-in-out;
	-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
	animation-iteration-count: 1;
}
@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}	
	to {
		-webkit-transform: rotate(-45deg);
	}
}
